<h1>Listing forums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Num topics</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.title %></td>
    <td><%= forum.description %></td>
    <td><%= forum.topic_count %></td>
  </tr>
<% end %>
</table>

