<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @forum.title %>
</p>

<p>
  <b>Description:</b>
  <%= @forum.description %>
</p>

<p>
  <b>Num topics:</b>
  <%# @forum.num_topics %>
</p>


<%# link_to 'Edit', edit_moxie_forum_path(@forum) %> |
<%= link_to 'Back', admin_moxie_forums_path %>
